.stackAuto {
  width: auto; }

.stack, form ul li .label span.required, form ul li .label-and-element, .full.element, .stack1of2, .stack1of3, form ul li .label, .stack2of3, form ul li .element, .stack1of4, .quarter.element, .stack3of4, .stack1of5, .single_field .label, .single_field .submit, .stack2of5, .stack3of5, .single_field .element, .stack4of5, .stack1of6, .stack1of7, .stack1of10, .stackAuto {
  display: inline-block;
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top; }

.stack, form ul li .label span.required, form ul li .label-and-element, .full.element {
  width: 100%; }

.stack1of2 {
  width: 50%; }

.stack1of3, form ul li .label {
  width: 33.334%; }

.stack2of3, form ul li .element {
  width: 66.667%; }

.stack1of4, .quarter.element {
  width: 25%; }

.stack3of4 {
  width: 75%; }

.stack1of5, .single_field .label, .single_field .submit {
  width: 20%; }

.stack2of5 {
  width: 40%; }

.stack3of5, .single_field .element {
  width: 60%; }

.stack4of5 {
  width: 80%; }

.stack1of6 {
  width: 16.667%; }

.stack1of7 {
  width: 14.285%; }

.stack1of10 {
  width: 10%; }

.grouped-checkbox {
  width: 1em; }

form fieldset {
  margin-bottom: 12px; }
form fieldset.floater {
  float: left; }
form fieldset.thirdish {
  width: 32%;
  margin-right: 5px;
  min-height: 200px; }
form fieldset.slim {
  width: 14%;
  margin-right: 5px;
  min-height: 200px; }
form legend {
  line-height: 12px;
  color: #666666;
  font-size: 1.5em;
  font-family: Raleway, sans-serif; }

form ul li {
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top;
  text-align: left;
  line-height: 36px;
  min-height: 36px;
  position: relative; }
  form ul li input[type="submit"] {
    text-align: left; }
  form ul li .element input, form ul li .element select {
    margin: 7px 0 6px 0;
    width: 98%; }
  form ul li .element input[type="checkbox"] {
    width: auto; }
  form ul li .quantity.element {
    text-align: right; }
    form ul li .quantity.element select {
      display: inline-block;
      width: 4em; }
  form ul li .date_field {
    text-align: left; }
    form ul li .date_field select {
      width: 48%;
      display: inline;
      margin-right: 2%; }
  form ul li .label span.required {
    color: red; }
  form ul li .eighty {
    width: 80%; }
  form ul li .hidden.label {
    display: none; }
  form ul li .label-and-element {
    text-align: left; }
    form ul li .label-and-element label, form ul li .label-and-element input {
      display: inline; }
  form ul li .checkbox {
    float: left; }
  form ul li .checkbox-text {
    font-size: 0.8em;
    margin: 0.3em 0 0.25em 1.5em;
    color: #999999; }
  form ul li .active.description {
    color: #666666; }
  form ul li .form-error {
    color: #f03504; }

form .description, form .form-error {
  font-size: 0.75em;
  line-height: 12px;
  width: 75%;
  color: #999999; }

form .description {
  margin-top: -3px;
  width: 100%; }

.element > div, .element label, .label > div, .label label, .label-and-element > div, .label-and-element label, .cancel-submit > div, .cancel-submit label {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left; }
  .element > div:after, .element label:after, .label > div:after, .label label:after, .label-and-element > div:after, .label-and-element label:after, .cancel-submit > div:after, .cancel-submit label:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
.element > input, .element select, .label > input, .label select, .label-and-element > input, .label-and-element select, .cancel-submit > input, .cancel-submit select {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left; }

.double.element {
  text-align: left; }
  .double.element select {
    width: 48%;
    display: inline;
    margin-right: 2%; }
  .double.element input {
    width: 48%;
    display: inline;
    margin-right: 2%; }
    .double.element input:last-child {
      margin-right: 0; }
  .double.element .form-error {
    width: 48%;
    margin-right: 2%;
    float: left; }

.paired.element input, .paired.element select {
  float: left;
  width: 75%; }
.paired.element .half {
  float: left;
  width: 37.5%; }
.paired.element input.half {
  border-left: none; }
.paired.element .description {
  float: left; }
.paired.element input[type=submit], .paired.element input[type=button] {
  width: 25%;
  text-align: center;
  margin: 7px 0 6px;
  border-left: none;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.single_field {
  margin-top: 10px; }
  .single_field .element input {
    width: 100%; }
  .single_field .submit input {
    width: 100%;
    border-left: none;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }

.code textarea {
  height: 16em; }

.hidden-target {
  display: none; }

.cancel-submit {
  margin: 12px 0 0; }
  .cancel-submit a {
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    float: left;
    font-size: 0.75em;
    line-height: 14px;
    border: 1px solid;
    border-color: #dddddd #bbbbbb #999999;
    border-right: none;
    background: #eeeeee;
    color: #999999;
    padding: 3px 10px 4px; }
    .cancel-submit a:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .cancel-submit input[type="submit"] {
    padding-left: 3em;
    padding-right: 3em;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }

input, textarea {
  color: black; }

.placeholder {
  color: #aaaaaa; }

form.jeditable input {
  padding: 1px 0; }
form.jeditable button {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-left: none;
  display: block;
  float: right;
  padding: 3px 10px; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }
.ui-timepicker-div dl {
  text-align: left; }
.ui-timepicker-div dl dt {
  height: 25px; }
.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }
.ui-timepicker-div td {
  font-size: 90%; }

.radio-list li .radio {
  text-align: center;
  display: inline-block;
  width: 36px; }

.flash {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  padding: 12px;
  margin: 0 12px 12px;
  line-height: 12px; }
  .flash:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .flash .close {
    margin-left: 12px;
    float: right;
    cursor: pointer; }
  .flash p {
    color: rgba(255, 255, 255, 0.97) !important; }
  .flash ul li {
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left; }
    .flash ul li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

.error, .warning {
  background: #fb572c;
  background: -moz-linear-gradient(top, #fb572c 0%, #f03504 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb572c), color-stop(100%, #f03504));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fb572c), to(#f03504));
  background-image: -moz-linear-gradient(top, #fb572c, #f03504);
  background-image: -ms-linear-gradient(top, #fb572c, #f03504);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb572c), color-stop(100%, #f03504));
  background-image: -webkit-linear-gradient(top, #fb572c, #f03504);
  background-image: -o-linear-gradient(top, #fb572c, #f03504);
  background-image: linear-gradient(top, #fb572c, #f03504); }

.notice, .info, .success {
  background: #0a99b3;
  background: -moz-linear-gradient(top, #0a99b3 0%, #077083 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0a99b3), to(#077083));
  background-image: -moz-linear-gradient(top, #0a99b3, #077083);
  background-image: -ms-linear-gradient(top, #0a99b3, #077083);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083));
  background-image: -webkit-linear-gradient(top, #0a99b3, #077083);
  background-image: -o-linear-gradient(top, #0a99b3, #077083);
  background-image: linear-gradient(top, #0a99b3, #077083); }

#artfully-alert {
  display: none; }

.performance {
  padding: 0.5em 0.25em;
  margin: 0.5em 0;
  color: #666666;
  border-bottom: 1px solid #cccccc;
  position: relative; }
  .performance .ticket-search {
    position: absolute;
    right: 0.25em; }

.sections li {
  padding: 1em; }
.sections .section-name {
  font-size: 1.25em;
  line-height: 1.5em; }
.sections .section-price {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  font-weight: bold;
  background: #eeeeee;
  padding: 0.5em;
  margin-right: 1em;
  float: left;
  font-size: 0.8em; }
.sections form {
  margin: 1em 0; }

#shopping-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #aaaaaa;
  background-color: rgba(255, 255, 255, 0.9); }

#shopping-cart-controls {
  color: white;
  padding: 10px 5px 10px 27px;
  cursor: pointer;
  font-size: 0.9em; }

#shopping-cart.shown #shopping-cart-controls {
  background: #333333 url("/images/icons/down_arrow.png") no-repeat 10px center; }
#shopping-cart.hidden #shopping-cart-controls {
  background: #333333 url("/images/icons/up_arrow.png") no-repeat 10px center; }

#shopping-cart-controls .timer {
  float: right; }

iframe {
  width: 100%; }

.ticket_count {
  margin-right: 5px; }